img {
    height: 20%;
    width: 20%;
    margin-left: auto;
    padding-right: 10%;
}

.ImageContainer {
    background: black;
    display: flex;
}

.IntroContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
