body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0e0e0e;
  color: #ffffff;
}

.home-container {
  padding: 20px;
  background: #0e0e0e;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  padding: 12%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.intro-container {
  text-align: center;
  margin-bottom: 20px;
}

.intro-container h1, .intro-container h2 {
  margin: 0;
  font-weight: 300;
}

.intro-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.intro-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.highlight {
  color: #ff6f61;
  font-weight: 600;
}

.ricky-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #ff6f61;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 111, 97, 0.4);
  transition: all 0.3s ease;
}

.home-button:hover {
  background-color: #ff3f31;
  box-shadow: 0 8px 20px rgba(255, 63, 49, 0.5);
}

@media (min-width: 768px) {
  .image-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .intro-container {
    text-align: left;
    flex: 1;
    margin-right: 50px;
  }

  .intro-container h1 {
    font-size: 3em;
  }

  .intro-container h2 {
    font-size: 2em;
  }

  .button-container {
    justify-content: flex-start;
  }

  .ricky-image {
    margin-left: 50px;
    max-width: 360px;
  }
}
