.resume {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 15px;
  background: rgba(128, 0, 128, 0.5);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
  margin-bottom: 40px;
}

.resume::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 15px;
  background: linear-gradient(45deg, #0073e6, #ff6f61);
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 15%;
  height: auto;
  border-radius: 50%;
  margin-right: 20px; 
  object-fit: cover;
}

.contact-info {
  text-align: left;
}

.contact-info h1 {
  margin: 10px 0;
  color: #ffffff;
}

.contact-info p, .contact-info a {
  margin: 5px 0;
  color: #e0e0e0;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff6f61;
  color: #ff6f61;
}

h3 {
  font-size: 1.2em;
  color: #ffffff;
  margin: 10px 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 5px 0;
  padding-left: 20px;
  background: url('https://img.icons8.com/ios-filled/10/ff6f61/chevron-right.png') no-repeat left center;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffff00;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.back-button-container {
  margin-top: 20px;
  text-align: center;
}

.back-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #ff6f61;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 111, 97, 0.4);
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #ff3f31;
  box-shadow: 0 8px 20px rgba(255, 63, 49, 0.5);
}
