.skills-section {
    text-align: center;
    padding: 50px 20px;
    background-color: hsl(0, 0%, 0%);
    color: white;
  }
  
  .skills-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .skills-category {
    margin-bottom: 40px;
  }
  
  .skills-category h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-decoration: underline;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-item {
    margin: 10px;
    text-align: center;
    background: #3b3b3b;
    border-radius: 8px;
    padding: 20px;
    width: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .skill-item:hover {
    transform: translateY(-10px);
  }
  
  .skill-icon {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  