.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0e0e0e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navBar button {
    color: #d6d6d6cc;
    border: none;
    background: none;
    font-size: 20px;
    transition: color 0.3s ease;
    margin: 10px 20px;
    text-align: center;
  }
  
  .navBar button:hover {
    color: white;
  }
  
  .navBar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
    margin-left: 20px;
    padding-right: 40px;
  }
  
  .navBar .menu {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 60px;
    left: 0;
    width: 60%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }
  
  .navBar .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .navBar .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: #ff6f61;
    margin-right: 20px;
  }
  
  @media (min-width: 769px) {
    .navBar .menu {
      flex-direction: row;
      position: static;
      transform: none;
      opacity: 1;
      visibility: visible;
      box-shadow: none;
      background-color: transparent;
    }
  
    .navBar .hamburger {
      display: none;
    }
  
    .navBar button {
      margin: 0 10px;
      text-align: center;
    }
  }
  